body{
	margin: 0;
	padding: 0;
}
 	/* ******************** NAV BAR ******************** */
.topnav {
  background: #FFF;
  display: flex;
  align-items: center;
  width: 100%;
}
.topnav_link {
  color: #666666;
  text-decoration: none;
  margin-right: 18px;
  font-weight: 600;
  margin-top: 5px;
  transition: 0.2s;
}
.topnav_link i{
  color: #0598dd;
}
.topnav_link:hover {
  color: #0598dd;
  transition: 0.2s;
}

/* hide responsive menu */
#topnav_hamburger_icon,
#topnav_responsive_menu {
  display: none;
}

@media only screen and (max-width: 768px) {  
  /* hide classic menu */
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow: hidden;
  }

  /* show responsive menu and position at the right of the screen */
  #topnav_responsive_menu {
    display: block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;

    transform-origin: 0% 0%;
    transform: translate(200%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #topnav_responsive_menu li:hover{
    background: #0598dd;
    color: white;
    transition: 0.2s;
  }
  #topnav_responsive_menu ul span{
    margin-left: 38px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  #topnav_responsive_menu ul {
    display: flex;
    flex-direction: column;

    position: absolute;
    margin: 0;
    right: 0;
    top: 0;

    min-width: 100vw;
    height: 100vh;
    padding: 56px 0 0;

    text-align:justify-all;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
  }

  #topnav_responsive_menu li {
    padding: 12px 24px;
    transition: 0.2s;
    cursor: pointer;
    margin-left: 15px !important;
  }

  #topnav_responsive_menu a {
    white-space: nowrap;
    text-decoration: none;
    text-align: justify-all;
  }

  /* And let's slide it in from the right */
  #topnav_responsive_menu.open {
    transform: none;
    position: fixed;
  }

  /* ******************** HAMBURGER ICON ******************** */
  /* define size and position of the hamburger link */
  #topnav_hamburger_icon {
    display: block;
    position: relative;
    margin: 16px;
    width: 33px;
    height: 28px;

    z-index: 100;

    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }

  /* define the style (size, color, position, animation, ...) of the 3 spans */
  #topnav_hamburger_icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    margin-bottom: 5px;

    background: #666666;
    border-radius: 3px;

    z-index: 100;

    opacity: 1;
    left: 0;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  /* set the 3 spans position to look like a hamburger */
  #topnav_hamburger_icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
  }
  #topnav_hamburger_icon span:nth-child(2) {
    top: 12px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
  #topnav_hamburger_icon span:nth-child(3) {
    top: 24px;
    -webkit-transform-origin: left bottom;
    -moz-transform-origin: left bottom;
    -o-transform-origin: left bottom;
    transform-origin: left bottom;
  }

  /* change color when opening the menu */
  #topnav_hamburger_icon.open span {
    background: #333;
  }

  /* the first span rotates 45° \ */
  #topnav_hamburger_icon.open span:nth-child(1) {
    width: 110%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  /* the second span disappears */
  #topnav_hamburger_icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  /* the last span rotates -45° / */
  #topnav_hamburger_icon.open span:nth-child(3) {
    width: 110%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .splide__track .splide__list .splide__slide h2{
  font-size: 35px !important;
  text-transform: lowercase;
  text-align: center;
}
.splide__track .splide__list .splide__slide p{
  text-align: center;
  font-size: 15px !important;
  width:190px !important;
  text-align: justify !important;
}
}  
/* section 1 */
.section1{
	background:#0598dd; 
	background-size: cover !important;
	padding: 160px;
	align-content: center;
	margin-bottom:15px;
  color: white;
}
.sec{
	background:#0598dd;
	background-size: cover;
	padding: 120px;
	color: white;
	align-content: center;
}
.sec1{
	background:#0598dd;
	background-size: cover;
	padding: 120px;
	display: flex;
	color: #fff;
	align-content: center;
	justify-content: space-between;
}
.sec2 h2{
	font-size: 380px;
}
.sec2{
	background:#0a66c2;
	background-size: cover;
	padding: 120px;
	display: flex;
	color: #fff;
	align-content: center;
	justify-content: space-between;
}
.splide__track .splide__list .splide__slide h2{
	font-size: 60px;
	text-transform: lowercase;
  text-align: center;
}
.splide__track .splide__list .splide__slide p{
  text-align: center;
}
/* style section3 */
.section3{
	background: #0d76df;
	padding: 90px;
	color: #EEE;
}
.section3 h2{
	font-size: 50px;
	text-align: center;
}
.section3 p{
	font-family: calibri;
	text-align: justify-all;
}
.section3 .txt{
	margin-top: 50px;
}
.footer{
  display: flex;
}
